body {
  text-align: center;
  background-color: #6cec99;
  color: rgb(0, 0, 0);
}
h1 {
  font-size: 60px;
}
p {
  font-size: 30px;
}

.detail-form {
  font-size: 30px;
}

button {
  font-size: 20px;
  padding: 25px;
  margin: 6px;
  border-radius: 10px;
}
.text-area{
  font-size: 20px;
  padding: 25px;
  margin: 6px;
  border-radius: 10px;
}
.input{
  font-size: 16px;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}